@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;
  font-family: "Roboto Condensed", sans-serif;
}

/* NAVBAR */
.navlinks {
  text-decoration: none;
}

.navbar {
  height: auto !important;
}

.logo {
  position: fixed;
  width: 5vw;
  left: 2vw;
  top: 10vh;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-wrapper img {
  width: 40%;
}
.card-title {
  font-size: 0.9rem;
}
.card-text {
  font-size: 0.7rem;
  height: 300px;
  overflow: scroll;
}

.main {
  height: 95vh;
  background-color: #ab82ce;
}

.btn-primary {
  width: 150px;
}